.regiscon {
  margin-top: 150px;
}
.regiscard {
  width: 65%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(135deg, #fff6b7 10%, #f6416c 100%);
  border-radius: 3px;
  margin: auto;
}

.regisinputLogin {
  width: 50%;
  margin: 0 auto;
  padding-top: 5.5rem;
  text-align: center;
}

.regismt {
  margin-top: 2rem;
}
.regismTopDown {
  margin: 2rem 0;
}

.registextValidate {
  color: red;
}
